/*Navbar*/ 
.navbar {
  height: 50px;
  background-color: rgb(211, 90, 161);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  font-size: 20px;
  font-weight: bold;
}

.list{
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem{
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/* Posts Card */
.home{
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  width: 30%;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 31px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 31px 8px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 31px 8px rgba(0,0,0,0.75);
  border-radius: 15px;
}

.img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0px;
}

.desc{
  color: #333;
  margin-bottom: 20px;
  line-height: 25px;
}

.cardButton{
  border: none;
  border-radius: 10px;
  background: rgba(211, 90, 161, 0.678);
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Posts */
.post{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImg{
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.postDesc{
  padding: 0 100px;
  font-size: 24px;
  font-weight: 300;
  color: gray;
  margin-top: 50px;
}

.postLongDesc{
  padding: 100px;
  padding-top: 50px;
  font-size: 18px;
  line-height: 24px;
}

/* Login */
.login{
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 60%;
  height: 75%;
  -webkit-box-shadow: 0px 5px 31px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 31px 8px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 31px 8px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  background-repeat: 20px;
}

.left, .right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or{
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: #fff;
  font-weight: bold;
}

.line{
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.loginButton{
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.google{
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
.facebook{
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
.github{
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input{
  width: 200px;
  padding: 15px 25px;
  margin-bottom: 20px;
}

.submit{
  width: 200px;
  background-color: rgba(211, 90, 161, 0.678);
  color: black;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.loginTitle{
  position: absolute;
  top: 150px;
  color: lightgray;
}

.link{
  color: inherit;
  text-decoration: none;
}